HUBSPOT_TOKEN=<SET_HUBSPOT_TOKEN>
SQUARE_TOKEN=<SET_SQUARE_TOKEN>
GSHEET_ID=<SET_GSHEET_ID>
GOOGLE_CREDENTIALS_PATH=<SET_GOOGLE_CREDENTIALS_PATH>
TWILIO_ACCOUNT_SID=<SET_TWILIO_ACCOUNT_SID>
TWILIO_AUTH_TOKEN=<SET_TWILIO_AUTH_TOKEN>
TWILIO_FROM=<SET_TWILIO_FROM>
HEYMARKET_API_KEY=<SET_HEYMARKET_API_KEY>
HEYMARKET_SECRET_ID=<SET_HEYMARKET_SECRET_ID>
HEYMARKET_SECRET_KEY=<SET_HEYMARKET_SECRET_KEY>
LIVEKIT_URL=<SET_LIVEKIT_URL>
LIVEKIT_API_KEY=<SET_LIVEKIT_API_KEY>
LIVEKIT_API_SECRET=<SET_LIVEKIT_API_SECRET>
OPENAI_API_KEY=<SET_OPENAI_API_KEY>
DEEPGRAM_API_KEY=<SET_DEEPGRAM_API_KEY>
CARTESIA_API_KEY=<SET_CARTESIA_API_KEY>
SQL_SERVER=<SET_SQL_SERVER>
SQL_PORT=<SET_SQL_PORT>
SQL_DATABASE=<SET_SQL_DATABASE>
SQL_USERNAME=<SET_SQL_USERNAME>
SQL_PASSWORD=<SET_SQL_PASSWORD>
SIP_OUTBOUND_TRUNK_ID=<SET_SIP_OUTBOUND_TRUNK_ID>
DEFAULT_TRANSFER_TO=<SET_DEFAULT_TRANSFER_TO>
CALLER_ID=<SET_CALLER_ID>
USE_OPENAI=<SET_USE_OPENAI>
AGENT_DISPLAY_NAME=<SET_AGENT_DISPLAY_NAME>
CLINIC_NAME=<SET_CLINIC_NAME>
CLINIC_PHONE=<SET_CLINIC_PHONE>
SCHED_URL=<SET_SCHED_URL>
DEFAULT_LANGUAGE_HINT=<SET_DEFAULT_LANGUAGE_HINT>
OPENAI_MODEL=<SET_OPENAI_MODEL>
OPENAI_TTS_VOICE=<SET_OPENAI_TTS_VOICE>
OPENAI_TTS_VOICE_EN=<SET_OPENAI_TTS_VOICE_EN>
OPENAI_TTS_VOICE_ES=<SET_OPENAI_TTS_VOICE_ES>
CARTESIA_VOICE_EN=<SET_CARTESIA_VOICE_EN>
CARTESIA_VOICE_ES=<SET_CARTESIA_VOICE_ES>
CARTESIA_VOICE_ZH=<SET_CARTESIA_VOICE_ZH>
CARTESIA_VOICE_RU=<SET_CARTESIA_VOICE_RU>
CARTESIA_VOICE_KO=<SET_CARTESIA_VOICE_KO>
CARTESIA_VOICE_HI=<SET_CARTESIA_VOICE_HI>
CARTESIA_VOICE_IT=<SET_CARTESIA_VOICE_IT>
CARTESIA_VOICE_FR=<SET_CARTESIA_VOICE_FR>
TURN_MIN_ENDPOINT_DELAY=<SET_TURN_MIN_ENDPOINT_DELAY>
TURN_MAX_ENDPOINT_DELAY=<SET_TURN_MAX_ENDPOINT_DELAY>
TURN_MIN_INTERRUPTION_DURATION=<SET_TURN_MIN_INTERRUPTION_DURATION>
TURN_MIN_INTERRUPTION_WORDS=<SET_TURN_MIN_INTERRUPTION_WORDS>
TURN_AGENT_FALSE_INTERRUPT_TIMEOUT=<SET_TURN_AGENT_FALSE_INTERRUPT_TIMEOUT>
TURN_MIN_CONSECUTIVE_SPEECH_DELAY=<SET_TURN_MIN_CONSECUTIVE_SPEECH_DELAY>
SILERO_MIN_SILENCE=<SET_SILERO_MIN_SILENCE>
EGRESS_ENABLED=<SET_EGRESS_ENABLED>
EGRESS_FILEPATH_TEMPLATE=<SET_EGRESS_FILEPATH_TEMPLATE>
EGRESS_FILE_TYPE=<SET_EGRESS_FILE_TYPE>
EGRESS_S3_BUCKET=<SET_EGRESS_S3_BUCKET>
EGRESS_S3_REGION=<SET_EGRESS_S3_REGION>
EGRESS_S3_ACCESS_KEY=<SET_EGRESS_S3_ACCESS_KEY>
EGRESS_S3_SECRET=<SET_EGRESS_S3_SECRET>
DASHBOARD_PUBLIC_BASE_URL=<SET_DASHBOARD_PUBLIC_BASE_URL>
OPENAI_API_BASE=<SET_OPENAI_API_BASE>
RELEVANCE_REGION=<SET_RELEVANCE_REGION>
RELEVANCE_PROJECT=<SET_RELEVANCE_PROJECT>
RELEVANCE_API_KEY=<SET_RELEVANCE_API_KEY>
RELEVANCE_STUDIO_ID=<SET_RELEVANCE_STUDIO_ID>
COMPANY_URL=<SET_COMPANY_URL>
NUM_CPUS=<SET_NUM_CPUS>
